<h1><%= @post.title %></h1>
<h3>Written: <%= time_ago_in_words(@post.published_at) %> ago by <%= @post.user.username %></h3>
<h3>Tags: <%= @post.tag_names %></h3>

<p>
    <%= @post.content %>
</p>

<%= link_to("Edit post", edit_post_path(@post)) %>
<%= link_to("Delete post", post_path(@post), method: :delete) %>

<%= link_to("Back to index", posts_path) %>
